header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(75, 171, 255);
  padding: 10px;
  div {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
    }
  }
}

main {
  padding: 10px;
  text-align: center;
}

.sessao {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  font-size: larger;
  div {
    padding: 25px;
    border: 2px solid;
    border-radius: 50000000px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    img {
      border-radius: 50000000px;
      width: 25%;
    }
    p {
      width: 70%;
    }

  }
}