header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(75, 171, 255);
  padding: 10px;
  div {
    display: flex;
    gap: 10px;
    a {
      text-decoration: none;
    }
  }
}
