/* header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(75, 171, 255);
  padding: 10px;
  div {
    display: flex;
    gap: 10px;
  }
}



main {
  padding: 10px;
  text-align: center;
}

.sessao {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 280px;
  font-size: larger;
  .card {
    padding: 25px;
    border: 2px solid;
    border-radius: 50000000px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    img {
      border-radius: 50000000px;
      width: 50%;
    }
    p, h2 {
      width: 45%;
    }

  }
} */

a {
  text-decoration: none;
}

.iconsNav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.sessao {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 80vw;
  justify-content: center;
  border: 2px solid var(--black);
  border-radius: 1.5rem;
  padding: 20px;
  width: 75vw;
  flex-wrap: wrap;
}

.card > img {
  max-width: 75%;
  border-radius: 30rem;
}

.card > div {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.card > div > h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.zap {
  width: 30px;
}